<h3>Ваша заявка одобрена</h3>

Здравствуйте! Ваша заявка на роль продавца одобрена.<br>

Ваш логин: {{ name }}<br>
Ваш пароль: {{ password }}<br>
Вы можете изменить ваш логин и пароль в личном кабинете.<br>

Чтобы активировать аккаунт, перейдите по ссылке: <a href="{{ token }}">{{ token }}</a>.<br>