<h3>Ваша заявка была отклонена продавцом</h3>

Здравствуйте!<br>

К сожалению, мы вынуждены сообщить, мы не можем одобрить вашу заявку на роль продавца.<br><br><br>
С уважением,<br>
Администрация сайта
