<h3>Восстановление пароля</h3>

Привет {{ name }}! Вы успешно восстановили пароль.<br>

Ваш новый пароль: {{ password }}.<br>
Вы можете в любой момент изменить пароль в личном кабинете.<br><br>
Приятных покупок!